"use strict";

return (request, response) => {
    /* Builds the SSML */

    {{#each meta.actions}}
    {{#if this.p}}
    response.say('<p>{{p}}</p>');
    {{/if}}
    {{/each}}
    
    response.say('<p>You can</p>');
    
    {{#each meta.choices as |obj|}}
    response.say('<p>{{#if @index}}or {{/if}}{{inc @index}}, to {{#each obj as |key value|}}{{key}}{{/each}}</p>')
    {{/each}}

    /** Builds the session metadata - responsible for validating choices and storing the current page **/

    response.session('page', '{{page}}')    
i
    response.session('choices', JSON.stringify({    
    {{#each meta.choices as |obj|}}
      '{{inc @index}}': {{#each obj as |key value|}}'{{value}}'{{/each}}{{#if @last}}{{else}},{{/if}}
    {{/each}}
    }));


    response.shouldEndSession(false);
}
